* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 120px;
    width: 100%;
    /* padding: 40px; */
    padding: 2%;
    background-color: rgb(207, 207, 207);
}

.logo {
    max-width: 30%;
}

.logo-gif {
    max-height: 100%;
    height: auto;
    width: 150px
    /* max-width: 40%; */
    /* min-width: 30%; */
}

.links {
    max-width: 25%;
    display: flex;
    justify-content:space-between;
}

/* a {
    margin: 0 10px;
} */
