* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 120px;
    width: 100%;
    padding: 40px;
    background-color: rgb(207, 207, 207);
}

.logo-gif {
    max-height: 100%;
    height: auto;
    max-width: 40%;
    min-width: 20%;
}

.links {
    width: 15%;
    display: flex;
    justify-content:space-between;
}